body {
  padding-top: 50px;
}

h1, h2 {
	margin:0;
}

h2 {
	font-size:20px;
	margin-top:1em;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.sim {
	padding-top: 1em;
}

.card {
	margin-top:1em;
	padding-right: 5px;
	padding-left: 5px;
}

.card > div {
	position: relative;
	outline:1px solid black;
}
.card img {
	margin:auto;
}
.epic .badge {
	background-color: powderblue;
	color:black;
}
.legendary .badge {
	background-color: thistle;
	color:black;
}

#btn_row .btn {
	margin-top:1em;
}

.card .badge {
	position:absolute;
	bottom: 0px;
	margin: auto;
}


.card.highlight {
	outline:5px solid maroon;
}
.card .level {
	height:2em;
	background-color: white;
}
.card.single .level {
	*/ background-image: url(../res/single.png); */
}
.card.dual .level {
	background-image: url(../res/dual.png);
	background-repeat: none;
}
.card.quad .level {
	background-image: url(../res/quad.png);
}
.level.dual {
	background-image: url(../res/dual.png);
	background-repeat: no-repeat;
}
.level.quad {
	background-image: url(../res/quad.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.box .card.full > div {
	outline-width: 3px;
}